.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light/Dark Mode Styles */

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

/* Adjust nav backgrounds too */
body.light nav {
  background-color: #e0e7ff; /* Indigo-100 */
  color: #3730a3; /* Indigo-900 */
}

body.dark nav {
  background-color: #3730a3; /* Indigo-900 */
  color: #e0e7ff; /* Indigo-100 */
}

/* Hover colors for nav links */
body.dark nav a:hover {
  color: #c7d2fe; /* lighter indigo */
}

body.light nav a:hover {
  color: #818cf8; /* darker indigo */
}